
    <form>
        <div class="text-center">
  
            <h1 class="h3 mb-3 fw-bold">Reset Password</h1>
        </div>

        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email</label>
        </div>
        <div class="hstack justify-content-between">
            <button class="btn btn-lg btn-primary" type="submit">Reset Now</button>
        </div>

        <div class="mt-4 text-center">Unable to login? We are here <br><a href="#"
                class="btn-link-primary">dav@gmail.com</a></div>
    </form>
